

p{
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-align: center;
}
body{
    background-color: rgba(241, 241, 237, 0.687);
    margin: 0;
    margin-left: 0.2vw;
   }


.father{

    background-image: url("https://pizzapalaceburwell.com/wp-content/uploads/2021/11/Food.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    padding-right: 100vw;
    align-items: center;
    align-content: center;
    text-align: center;



    }

#orderButton{

    align-self: center;
    padding: 20px;
    background-color: orange;
    width: 25%;
    height: 1vh; 
    transform: translate(100%, 100%);


}



.sideBlack{
    background-color: rgb(0, 0, 0,0.7);
    width: 30vw;
    height: 100vh;
   
    color: aliceblue;
    background-attachment: fixed;
background-position: center;

background-size: cover;
padding-top: 13vh;
}

#top{
  display: flex;
}
span{
    margin-left:3vw; 
    color: rgb(255, 255, 255);
    width: 80px;
    background-color: rgb(255, 119, 0);
}




   