.btnDiv{
    text-align: center;
    
}
.submit-btn{
    padding: 2rem;
    background-color: burlywood;
    transition:ease-in-out;
    transition-duration: 1000ms;
}
.submit-btn:hover{
    background-color: aqua;
    color: red;
    width: 20rem;
}


